<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runner.shop.dao.GoodsAllDao">
     <resultMap id="sss" type="com.runner.commons.dto.ShopDto.GoodsAllDto">
         <result property="goodsImgUrl" column="shop_img_url"></result>
         <result property="goodsPrice" column="shop_price"></result>
         <result property="goodsRealPrice" column="shop_realprice"></result>
         <result property="sales" column="shop_sales"></result>
        <result property="goodsDesc" column="shop_desc"></result>

     </resultMap>
   <select id="selectByF" resultMap="sss">

       SELECT  * FROM tb_shop_sku ss INNER JOIN tb_shop s
 ON s.sku_id=ss.sku_id INNER JOIN

tb_shop_spu su ON su.shop_id=s.sku_id INNER JOIN tb_shop_spu_img si
ON si.shop_id=s.shop_id  WHERE ss.sku_id=#{id}
   </select>

</mapper>