<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runner.sportsservice.dao.SportsDao">
    <select id="selectactirity" resultType="com.runner.entity.pojo.Actirity">
        select * from r_actirity where id=#{id}
    </select>

    <select id="selectcourses" resultType="com.runner.commons.dto.SportsDto.UclassDto">
        select c_id from r_uclass where u_id= #{uid}
    </select>

    <select id="seleonec" resultType="java.lang.String">
        SELECT IFNULL((select c_id from r_uclass where c_id= #{cid} and u_id = #{uid}),0)
    </select>

    <select id="seleonea" resultType="java.lang.String">
        SELECT IFNULL((select a_id from r_uactirity where a_id= #{aid} and u_id = #{uid}),0)
    </select>

    <insert id="addaciritys" parameterType="com.runner.entity.pojo.Uactiriy">
        insert into r_uactirity(u_id,a_id) values(#{uid},#{aid})
    </insert>

    <insert id="addcourses" parameterType="com.runner.entity.pojo.Uclass">
        insert into r_uclass(u_id,c_id) values(#{uid},#{cid})
    </insert>

    <insert id="addrunning" parameterType="com.runner.entity.pojo.Running">
        insert into r_running(phone,fat,outdoor,treadmill) values(#{phone},#{fat},#{outdoor},#{treadmill})
    </insert>

    <select id="selectphone" resultType="java.lang.String">
        SELECT * from r_running where phone = #{phone}
    </select>

    <update id="uprunning">
        update r_running set fat = #{fat},outdoor = #{outdoor},treadmill = {treadmill} where phone = #{phone}
    </update>
</mapper>